version: "3.3"

services:

########################################
# Hazelcast Service
########################################
  hazelcast:
    image: hazelcast/hazelcast
    restart: always
    environment:
      JAVA_OPTS: "-Dhazelcast:local:publicAddress=<host_ip>:5701"
    ports:
      - "5701:5701"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 500M
        reservations:
          cpus: '1'
          memory: 200M

########################################
# Camunda Service
########################################

  camunda-node-1:
    build:
      context: ../
    links:
      - db
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: jdbc:postgresql://db:5432/camunda?user=camunda&password=camunda&characterEncoding=UTF-8&reWriteBatchedInserts=true
      DATABASE_DRIVER: org.postgresql.Driver
      SERVER_PORT: 8080
      MAX_POOL_SIZE: 3
      RABBITMQ_HOST: rabbitmq-mgmt
      ADMIN_CLIENT_URL: http://camunda-node-1:8080
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1000M
        reservations:
          cpus: '2'
          memory: 1000M

########################################
# Postgres Service
#
# Be sure to add the config to application.yml
# and driver to pom.xml
#spring.datasource:
#  url: jdbc:postgresql://127.0.0.1:5432/camunda?&characterEncoding=UTF-8
#  username: camunda
#  password: camunda
#  driverClassName: org.postgresql.Driver
#  maxActive: 10
#  maxIdle: 5
#  minIdle: 2
#  initialSize: 5
#  removeAbandoned: true
########################################

  db:
    image: library/postgres:12.2
    restart: always
    environment:
      POSTGRES_USER: camunda
      POSTGRES_PASSWORD: camunda
      POSTGRES_DB: camunda
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: '3'
          memory: 5000M
        reservations:
          cpus: '3'
          memory: 2000M



  #########################################
  # Rabbit MQ Service
  #########################################

  rabbitmq-mgmt:
    image: rabbitmq:3-management
    hostname: rabbitmq-mgmt
    ports:
      - "9500:15672"
      - "5672:5672"
      - "4369:4369"
      - "5671:5671"




#########################################
# Camunda Optimize
#########################################
#  optimize:
#    image: registry.camunda.cloud/optimize-ee/optimize:3.1.0
#    environment:
#      OPTIMIZE_CAMUNDABPM_REST_URL: http://camunda-node-1:8080/engine-rest
#      OPTIMIZE_CAMUNDABPM_WEBAPPS_URL: http://camunda-node-1:8080/camunda
#      OPTIMIZE_ELASTICSEARCH_HOST: optimize-elastic
#      OPTIMIZE_ELASTICSEARCH_HTTP_PORT: 9200
#    ports:
#      - "8090:8090"
#
#
#  optimize-elastic:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
#    ports:
#      - "9200:9200"
#    environment:
#      - cluster.name=docker-cluster
#      - bootstrap.memory_lock=true
#      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
#      - discovery.type=single-node
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1

#########################################
# Spring-Boot Admin Server
#########################################
#  spring-boot-admin:
#    image:
